.ver-mais, .botao-catalogo {
  background-color: #ffdb4d;
  border: none;
  color: #3b3b3b;
  font-weight: bold;
  padding: 10px 18px;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.2s;
}

.ver-mais:hover, .botao-catalogo:hover {
  background-color: #ffcc00;
}
